{% extends 'base.html.twig' %}

{% block body %}
<h1> Bienvenue sur ce blog !</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse libero qui natus vitae aspernatur in odit, quisquam optio mollitia id distinctio modi, harum quod. Iste amet ipsa dolores. Consectetur sint saepe deleniti, excepturi blanditiis voluptate aliquid voluptatum quis ex perferendis.</p>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse dicta vero aliquid laboriosam dolore fugiat rerum explicabo ullam, doloremque atque quaerat fuga illum, deleniti ipsam temporibus laudantium magni omnis assumenda quia ut delectus iste! Officiis nihil ipsam ea praesentium eveniet?</p>
<p>Est harum soluta odit voluptatem! Soluta tenetur numquam exercitationem, ex natus magni, nihil sunt ut eius quisquam, cum nulla cumque dolor odit vero ad sequi quaerat debitis. Doloribus odio, culpa quaerat delectus, saepe corrupti maiores quae eveniet exercitationem obcaecati harum.</p>
{% endblock %}