{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<section class="articles">

<article>
    <h2>Title</h2>
    <div class="metadata">Ecrit avec un tuto noob</div>
    <div class="content">
        <img src="http://via.placeholder.com/350" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aspernatur dolorum reprehenderit ex tenetur eos veniam aperiam quo quisquam nam, provident obcaecati rerum, modi commodi doloribus recusandae iure, ducimus temporibus.</p>
        <p>Similique in, itaque alias tenetur corporis maxime ut repellat laboriosam maiores optio? Officiis necessitatibus accusamus nobis omnis quos aut numquam, natus voluptatum facere possimus vel cupiditate iste consectetur ducimus molestias?</p>
        <a href="" class="btn btn-primary">lire la suite</a>
    </div>
</article>
<article>
    <h2>Title</h2>
    <div class="metadata">Ecrit avec un tuto noob</div>
    <div class="content">
        <img src="http://placehold.it/350*150" alt="">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, maxime! Autem quas quo odio non repellendus tempora quis illo delectus dolorum deleniti soluta impedit doloribus veniam eligendi, inventore amet nostrum.</p>
        <p>Deserunt assumenda, officiis ullam maiores, beatae tempora doloribus asperiores mollitia eius nesciunt maxime numquam rem dolorem modi optio voluptatum! Rerum alias dolore minus reprehenderit distinctio laudantium odio doloribus necessitatibus numquam.</p>
        <a href="" class="btn btn-primary">lire la suite</a>
    </div>
</article>
<article>
    <h2>Title</h2>
    <div class="metadata">Ecrit avec un tuto noob</div>
    <div class="content">
        <img src="http://placehold.it/350*150" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus atque placeat delectus doloremque laborum et totam optio recusandae alias, laboriosam quos repellendus quasi beatae consequuntur ab, sapiente voluptatibus veniam consectetur.</p>
        <p>Enim, optio, aspernatur dolorem error nesciunt tenetur veritatis magni voluptas eius natus recusandae sequi voluptatem, maiores obcaecati iste maxime quos omnis in! Reiciendis perspiciatis, dolor esse similique iste nihil beatae?</p>
        <a href="" class="btn btn-primary">lire la suite</a>
    </div>
</article>

</section>

{% endblock %}
